/*body {
	
	background: url(BGS/446666.jpg) no-repeat center center fixed; -webkit-background-size: cover; 
	-moz-background-size: cover;	
	-o-background-size: cover;	
	background-size:cover;  
	height: auto !important; 
	height: 100%;
	
}

.COMIX-PG{
	background: url(BGS/com-bg.png) no-repeat center center fixed;
}

.MANGA-PG{
	background: url(BGS/mang-bg.jpg) no-repeat center center fixed;
}

.SEARCH-PG{
	background: url(BGS/Riddle.jpg) no-repeat center center fixed;
}

.content-block {
	text-align: center; 
	background: White; 
	min-width: 290px; 
	width: 66%; 
	margin-left: auto; 
	margin-right: auto; 
	padding-top:20px; 
	padding-bottom:20px; 
	padding-left: 20px; 
	min-height: 80vh; 
	height: auto !important; 
	height: 100%; 
	overflow: auto;
}


.comix-manga-block {
	margin:5px; 
	width:200px; 
	height:175px; 
	float:left; 
	padding:5px; 
	border: 3px solid #C9C9C9; 
	border-radius: 14px; 
	background: #DADADA; 
	overflow: hidden; 
	text-overflow: ellipsis;
}*/









